/venv
/A4/*
/A3/*
/A2/*
/A1/*
*.jpeg
*.jpg
*.xls
*.xlsx
*.webp
*.pptx
*.bmp
*.bmp.part
*.gif
*.svg
*.doc
*.docx
*.rtf
*.html
*.txt
!requirements.txt
*.png
.idea/
BackEnd/.env
Test_bot/*
/input_images/*
redis_instruction
/input_documents/*
/BackEnd/trash/*
*.pyc
/__pycache__/*
*.db
/SmartCopyCenterBot/config.py
./.idea/
/stickers/*
settings.py
.env
redis.conf
